<FlexContainer class="CategoryListContainer" direction='row' wrap="wrap" justify="flex-start" style="height: inherit;">
    <FlexItem>
        <Line></Line>
    </FlexItem>
    <FlexItem grow="1">
        <FlexContainer direction='column'>
            <div style="padding:0.5vh 0.5vw;">
                <div *ngFor='let category of categories' style="padding:1px 0px 2px 0px;color: blue;">
                    <a (click)="onSelectionChanged(category)">
                        <span class="CategoryItem"></span>
                        <span style='margin-left: 15px'>{{category.Description}}</span>     
                    </a>
                </div>      
            </div>
        </FlexContainer>
    </FlexItem>
    <FlexItem selfAlign="flex-end"><Line></Line></FlexItem>
</FlexContainer>