:host{
    height: 70px;
    background-color: white;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: black;

    h3{
        margin: auto 0px auto 20px;
        font-size: 16px;
    }
}